body{
    overflow: hidden;
}
.slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slider__text {
    position: absolute;
    bottom: calc(2rem + 3vw);
    left: calc(2rem + 3vw);
    z-index: 10;
    font-size: calc(1rem + 4vw);
    transform-origin: top;
    line-height: 1.075;
    color: #fff;
    font-weight: 500;
}
.slider__text-line {
    overflow: hidden;
}
.slider__inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slider__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-bullet {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.slider-bullet__text {
    color: #fff;
    font-size: 1.35rem;
    margin-right: 1rem;
}
.slider-bullet__line {
    background-color: #fff;
    height: 1px;
    width: 1.35rem;
}
.slider canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.slide__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.slide__img {
    position: relative;
    width: 20vw;
    height: 60vh;
    padding: 0;
    margin: 0;
    min-width: 12.5rem;
    transform-origin: top;
}
.slide__img img{
    border-radius: 5px;
    box-shadow: 5px 5px 20px 10px black;
}
.slide__img:first-child {
    top: -1.5rem;
}
.slide__img:last-child {
    bottom: -1.5rem;
}
.slide__img img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    gap: 1rem;
}
a img{
    transition:400ms ease;

}
/* .tshirt img{
    -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
} */
.tshirt img:hover{
    transform:translateX(-20px);
    border-radius: 10px;
    /* -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px); */
}

.hoodie img:hover{
    transform:translateX(20px);
    border-radius: 10px;
}

.welcome img:hover{
    transform:translateX(-20px);
    border-radius: 10px;
}
